<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>产品中心-中一期货_中一国际期货有限公司</title>
<meta name="keywords" content="中一国际期货，中一国际期货，中一外盘期货，中一国际期货有限公司" />
<meta name="author" content="tang" />
<meta name="description" content="中一国际期货获香港证监会批准注册为持牌法团(证监会中央编号: BJQ086),从事第2类及第5类受规管活动,即期货合约交易及就期货合约提供意见，提供国际期货交易平台，主要从事商品期货经纪、金融期货经纪业务。" />
<meta name="applicable-device"content="pc,mobile">
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bxslider.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bxslider.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/bootstrap.js"></script>
<!--[if lt IE 9]>
	  <script src="/static/js/html5shiv.min.js"></script>
	  <script src="/static/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<header> <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9"> <a href="/zhongyi/index.html"><img src="/static/images/zd-logo.jpg"pg" class="logo" alt="中一期货" title="中一期货"/></a> </div>
    <div class="col-xs-12 col-sm-3 col-md-3 tel_box">
      <!-- <div class="top_tel"><img src="/static/images/tel.jpg" alt="中一期货_中一国际期货有限公司"></div>
      <div class="top_number"> <span>全国客服热线：</span>
        <p>176-2101-1966</p>
      </div> -->
    </div>
  </div>
</div>

<!-- Fixed navbar -->
<nav id="top_nav" class="navbar navbar-default navbar-static-top">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">导航菜单</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    <a class="navbar-brand" href="/zhongyi/index.html">导航菜单</a> </div>
    <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li ><a href="/zhongyi/index.html">网站首页</a> </li>
      <li class='dropdown '> <a href="/zhongyi/a/gongsijianjie/index.html">关于中一</a> <a href="/a/gongsijianjie/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
        <ul role="menu" class="dropdown-menu nav_small">
          
          
          <li><a href="/zhongyi/about/index.html">公司简介</a></li>
          
          
          
          <li><a href="/zhongyi/a/gongsijianjie/contact/index.html">联系中一</a></li>
          
        </ul>
      </li><li class='dropdown active'> <a href="/zhongyi/a/chanpinzhongxin/index.html">产品中心</a> <a href="/zhongyi/a/chanpinzhongxin/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
        <ul role="menu" style="display:none">
          
          
        </ul>
      </li><li class='dropdown '> <a href="/zhongyi/a/xingyexinwen/index.html">资讯中心</a> <a href="/zhongyi/a/xingyexinwen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
        <ul role="menu" class="dropdown-menu nav_small">
          
          
          <li><a href="/zhongyi/a/xingyexinwen/index.html">行业新闻</a></li>
          
          <li><a href="/zhongyi/a/kejichuangxin/index.html">财经新闻</a></li>
          
        </ul>
      </li><li class='dropdown '> <a href="/zhongyi/a/kehuanli/">招商加盟</a> <a href="/zhongyi/zhongyi/a/kehuanli/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
        <ul role="menu" class="dropdown-menu nav_small">
          
          
          <li><a href="/zhongyi/a/zuixinanli/index.html">加盟政策</a></li>
          
          <li><a href="/zhongyi/a/jingdiananli/">加盟优势</a></li>
          
          <li><a href="/zhongyi/a/kehuanli/qiyejiameng/">公司加盟</a></li>
          
          <li><a href="/zhongyi/a/kehuanli/geren_touzizhejiameng/">个人/投资者加盟</a></li>
          
        </ul>
      </li><li class='dropdown '> <a href="/zhongyi/disclaimer/index.html">免责声明</a> <a href="/zhongyi/disclaimer/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
        <ul role="menu" style="display:none">
          
          
        </ul>
      </li><li class='dropdown '> <a href="/zhongyi/a/lianxiwomen/index.html">联系我们</a> <a href="/zhongyi/a/lianxiwomen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
        <ul role="menu" style="display:none">
          
          
        </ul>
      </li>
    </ul>
    
    <!--/.nav-collapse --> 
  </div>
</nav>
 </header>
<div class="page_bg" style="background: url(/static/images/5780c309432c5.jpg) center top no-repeat;"></div>

<!-- main -->
<div class="container">
  <div class="row"> 
    
    <!-- left -->
    <div class="col-xs-12 col-sm-8 col-md-9" style="float:left">
      <div class="list_box">
        <font class="left_h2">产品中心</font>
        <h1 style="line-height:200%;">香港中一期货品种大全</h1>
        <div class="product_list"> 
          <div class="col-sm-4 col-md-3 col-mm-6 product_img">
             <img src="/static/images/zd-rijing.jpg" class="img-thumbnail" alt="中一期货,日经股指" title="中一期货,日经股指"> 
            <p class="product_title"><a href="" title="日经股指"></a></p>
          </div>
          <div class="col-sm-4 col-md-3 col-mm-6 product_img"> <img src="/static/images/zd-rijng2.jpg" class="img-thumbnail" alt="中一期货,恒生股指" title="中一期货,恒生股指">
            <p class="product_title"><a href="" title="恒生股指"></a></p>
          </div>
<div class="col-sm-4 col-md-3 col-mm-6 product_img">  <img src="/static/images/zd-meiyuan.jpg" class="img-thumbnail" alt="中一期货,美元期货" title="中一期货,美元期货">
            <p class="product_title"><a href="" title="外汇期货">美元期货</a></p>
          </div>
          <div class="col-sm-4 col-md-3 col-mm-6 product_img">  <img src="/static/images/zd-qihuo.jpg" class="img-thumbnail" alt="中一期货，欧元期货" title="中一期货，欧元期货">
            <p class="product_title"><a href="" title="欧元期货">欧元期货</a></p>
          </div>
<div class="col-sm-4 col-md-3 col-mm-6 product_img">  <img src="/static/images/zd-huangjin.jpg" class="img-thumbnail" alt="中一期货，贵金属期货" title="中一期货，黄金期货"> 
            <p class="product_title"><a href="" title="黄金期货">黄金期货</a></p>
          </div>
<div class="col-sm-4 col-md-3 col-mm-6 product_img"><img src="/static/images/zd-baijin.jpg" class="img-thumbnail" alt="中一期货，基本金属期货" title="中一期货，白银期货"> 
            <p class="product_title"><a href="" title="白银期货">白银期货</a></p>
          </div>
<div class="col-sm-4 col-md-3 col-mm-6 product_img">  <img src="/static/images/zd-yuanyou.jpg" class="img-thumbnail" alt="中一期货，利率期货" title="中一期货，原油期货">
            <p class="product_title"><a href="" title="原油期货">原油期货</a></p>
          </div>
<div class="col-sm-4 col-md-3 col-mm-6 product_img"> <img src="/static/images/zd-tielu.jpg" class="img-thumbnail" alt="中一期货，利率期货" title="中一期货，天热气期货">
            <p class="product_title"><a href="" title="天然气期货">天然气期货</a></p>
          </div>
         
 </div>
        <div class="page"> <span class="pageinfo">共 <strong>1</strong>页<strong>5</strong>条记录</span>
 </div>
      </div>
    </div>
    
    <!-- right -->
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="index_contact"> <font class="left_h2">联系我们</font>
        <!-- <p>电 话：176-2101-1966</p> -->
        <p>公 司：中一国际期货有限公司</p>
        <p>地 址：香港中一国际期货交易中心位于香港岛中环金融街8号国际金融中心（18楼1808室）</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">
    <p>Copyright &copy; 2002-2027  中一国际期货有限公司 版权所有</p>
    <p class="copyright_p">地址：香港中一国际期货交易中心位于香港岛中环金融街8号国际金融中心（18楼1808室）  </p>

    <!-- <p class="copyright_p">地址：香港中一国际期货交易中心位于香港岛中环金融街8号国际金融中心（18楼1808室）  电话：176-2101-1966 </p> -->
    <p style="color:#1f1f1f;">中一期货,中一期货开户,中一期货招商,香港中一外盘期货,香港中一国际期货官网,中一国际期货有限公司</p>
  </div>
</footer>
<!-- WPA start -->
<div style="position:fixed;top:30%;right:5px;z-index: 100">
  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
  <img border="0" src="/static/images/qqworker.jpg" alt="点击这里给我发消息" title="点击这里给我发消息"/>
</div>
<!-- //中间客服窗口 -->
<div class="wpa-invite theme-2">
  <a href="javascript:void(0);" id="invite_close" data-event="close" class="icon-close">
    <img src="https://bqq.gtimg.com/qidian/src/wpa/dist/4.1.0/images/invite/close_black.png">
  </a>
  <img src="https://p.qpic.cn/qidian_pic/2852199000/201611113d2b411028d4194b97d37ac1349faad3/0" class="avatar" onerror="javascript:parent.__WPA.replaceErrAvatar(this);">
  <div class="main">
    <div class="title">欢迎您来到本网站</div>
    <div class="content">您好，客服在线，点击即可咨询</div>
  </div>
  <div class="btns ">
    <div class="btn" id="qqbtn" data-event="qq" data-corpuin="0">
    <a target="_blank" style="text-decoration:none" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
      <span class="btn-icon icon-qq"></span>
      <span class="btn-text">QQ交谈</span>
    </a>
    
  </div>
</div>
</div><!-- WPA end -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
 
<!--客服面板-->
</body>
</html>