<!DOCTYPE html>
<html lang="zh-cn">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>免责声明-远大期货_远大国际期货有限公司</title>
    <meta name="keywords" content="远大期货，远大国际期货，远大国际期货有限公司，远大期货软件" />
<meta name="description" content="远大国际期货获香港证监会批准注册为持牌法团(证监会中央编号: BJQ086),从事第2类及第5类受规管活动,即期货合约交易及就期货合约提供意见，提供国际期货交易平台，主要从事商品期货经纪、金融期货经纪业务，24小时热线电话：132-6265-1260。" />
    <meta name="applicable-device"content="pc,mobile">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bxslider.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bxslider.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <!--[if lt IE 9]>
	  <script src="/static/js/html5shiv.min.js"></script>
	  <script src="/static/js/respond.min.js"></script>
	<![endif]-->
    </head>
    <body>
<header> <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9"> <a href="/views/index.html"><img src="/static/images/logo.png" class="logo" alt="远大期货" title="远大期货"/></a> </div>
    <div class="col-xs-12 col-sm-3 col-md-3 tel_box">
      <!-- <div class="top_tel"><img src="/static/images/tel.jpg" alt="远大期货_远大国际期货有限公司"></div>
      <div class="top_number"> <span>全国客服热线：</span>
        <p>176-2101-1966</p>
      </div> -->
    </div>
  </div>
</div>

<!-- Fixed navbar -->
<nav id="top_nav" class="navbar navbar-default navbar-static-top">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">导航菜单</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    <a class="navbar-brand" href="/views/index.html">导航菜单</a> </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ><a href="/views/index.html">网站首页</a> </li>
        <li class='dropdown '> <a href="/views/a/gongsijianjie/index.html">关于远大</a> <a href="/views/a/gongsijianjie/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/about/index.html">公司简介</a></li>
            
            <li><a href="/views/honor/index.html">远大牌照</a></li>
            
            <li><a href="/views/a/gongsijianjie/contact/index.html">联系远大</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/chanpinzhongxin/index.html">产品中心</a> <a href="/views/a/chanpinzhongxin/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/xingyexinwen/index.html">资讯中心</a> <a href="/views/a/xingyexinwen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/a/xingyexinwen/index.html">行业新闻</a></li>
            
            <li><a href="/views/a/kejichuangxin/index.html">财经新闻</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/kehuanli/">招商加盟</a> <a href="/views/a/kehuanli/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/a/zuixinanli/index.html">加盟政策</a></li>
            
            <li><a href="/views/a/jingdiananli/">加盟优势</a></li>
            
            <li><a href="/views/a/kehuanli/qiyejiameng/">公司加盟</a></li>
            
            <li><a href="/views/a/kehuanli/geren_touzizhejiameng/">个人/投资者加盟</a></li>
            
          </ul>
        </li><li class='dropdown active'> <a href="/views/disclaimer/index.html">免责声明</a> <a href="/views/disclaimer/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/lianxiwomen/index.html">联系我们</a> <a href="/views/a/lianxiwomen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li>
      </ul>
      
      <!--/.nav-collapse --> 
    </div>
</nav>
 </header>
<div class="page_bg" style="background: url(/static/images/5780c309432c5.jpg) center top no-repeat;"></div>

<!-- main -->
<div class="container">
      <div class="row"> 
    
    <!-- left -->
    <div class="col-xs-12 col-sm-8 col-md-9" style="float:left">
          <div class="list_box">
        <font class="left_h2">免责声明</font>
        <div class="feedback" style="margin-left:-40px;">
          <h1 style="text-align:center;">香港远大国际期货</h1>
          <p>远大国际期货有限公司（以下称"远大期货"）力求远大国际期货内容的可靠、准确和完整，但并不从客观上确保所载信息和材料的准确性、可靠性或完整性，并明确否认就该等信息和材料的错误或遗漏承担责任；也不对信息和材料做出任何种类的保证，包括但不限于有关没有侵犯第三方权利、所有权、内容令人满意、适合特定的用途或没有电脑病毒的保证。这些材料也许已经过期，本网站不承诺对其更新。凡在本网站出现的信息，包括但不限于新闻、公告、评论、预测、图表、指标、直接的或暗示的指示，均仅供参考，注册用户和一般页面游览者在使用前请进一步核实，并对任何自主决定的行为负责。</p>
          <p>远大期货官网所刊发的证券、期货、外汇市场评述和预测等各类信息，并不构成对任何金融产品的购买、认购、抛售或持有的邀约或建议，使用者或投资者据此进行的金融证券期货等投资行为所造成的盈余或亏损概与本网站无关。本网站对上述任何损害概不负责。 如果本网站刊登的任何内容与您的著作权存在冲突，请立即联系本网站，本网站将予以及时处理。</p>
          <p>使用者了解并同意，本网站可能因政府禁令、现行法律法规的变更、火灾、地震、动乱、战争、停电、合作方或相关电信部门的互联网软硬件设备故障或失灵、或其人为工作疏忽而全部或部分中断、延误、遗漏，或造成资料和行情传输或储存上的错误，或遭第三者侵入系统篡改或伪造变更资料等，本网站对此不承担任何责任。</p>
          <p>凡通过本网站与其它网站的链接，而获得其它网站所提供的网上资料及信息，使用者应该自行辨别及判断，本网站不承担任何责任。在任何情况下，本网站对于与使用或未能使用本网站或任何链接的网站的内容、资料、功能有关的任何直接的、间接的、特殊的、连带的或其它损失（包括但不限于任何利润损失、业务中断以及您的信息处理系统中的信息、程序或其它数据的丢失）不向任何机构承担责任，即使本网站被明确告知此类损失的可能性。</p>
          <p>请注意保存好您的个人信息，并关注下述安全提示。如因您的过失导致个人信息泄露并造成的损失，将由您个人承担。</p>
          <p>远大国际期货安全提示</p>
          <p>鉴于目前不断出现假冒网站、钓鱼网站、短信及邮件诈骗等网络诈骗行为，请您提高安全防范意识、谨防上当受骗。我司不会通过短信、电话、网站或任何其他渠道进行承诺收益、收取会员费或收入分成等非法证券活动。您如果收到类似的短信、电话或看到类似的网站，请辩明真伪、谨防受骗。请您从以下几方面提高警惕：</p>
          <p>1、 请保护好您的账号及密码<br>
1）请不要通过任何方式泄漏自己的账号及密码（包括但不限于资金密码、交易密码、证书密码，下同）。无论任何单位、个人（包括我司及我司员工）通过电话、短信、邮件或任何其他方式向您索要密码，请勿泄漏密码。<br>
2）账户密码请勿使用“888888”、 “123456”及“出生日期”等简单且容易被猜中的密码。<br>
3）请定期更换密码，建议至少每三个月更换一次。<br>
4）请不要在电脑上保存您的密码，同时尽量不要使用公共场所的电脑登录。<br>
5）若系统提示您“上次登录系统的时间、IP地址、预留信息”等信息，请您校验信息，便于及时发现异常情况。</p>
          <p>2、提高安全意识，杜绝安全隐患<br>
1）请不要随意点击链接访问不受信任的网站，网站弹出对话框提示信任某站点或提示安装软件时，在弄清楚是否真正是安全的网站之前不要轻易点击确认。<br>
2）请不要随意打开邮件及其附件。不信任的邮件请不要轻易打开，也不要点击邮件中的链接。<br>
3）请尽量不要在网吧等公共场合使用网上交易。在每次使用网上交易系统后，不要只关闭浏览器，请点击页面上的“退出登录”来安全退出网上交易。</p>
          <P>3、请保护好您的电脑<br>
1）电脑安装操作系统后，请及时安装系统和浏览器的最新补丁，并经常使用系统更新功能，杜绝系统自身的安全漏洞；<br>
2）建议安装个人防火墙，只开启安全的应用程序的端口，防止黑客入侵您的电脑；<br>
3）请安装杀毒软件，并及时更新病毒库，防止病毒入侵；<br>
4）请不要轻易使用来源不明的CDROM、USB磁盘等存储介质，以防止病毒传播；<br>
5）电脑上安装的软件（如QQ、MSN等）请尽量使用最新版本。<br>
本免责申明条款的修改及最终解释权均属于远大国际期货有限公司</p>
          <p style="text-align:center;line-height:200%;">交易规则可能会进行适当调整，这时候网站可能会出现更新不及时或者缓存的原因不能及时更新，具体时时交易规则请参考交易软件。</p>
        </div>
      </div>
        </div>
    
    <!-- right -->
    <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="index_contact"> <font class="left_h2">联系我们</font>
        <!-- <p>电 话：176-2101-1966</p> -->
        <p>公 司：远大国际期货有限公司</p>
        <p>地 址：香港上环德辅道中244-248 号东协商业大厦5楼502室</p>
      </div>
        </div>
  </div>
    </div>
<footer>
  <div class="copyright">
    <p>Copyright &copy; 2002-2027  远大国际期货有限公司 版权所有</p>
    <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  </p>

    <!-- <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  电话：176-2101-1966 </p> -->
    <p style="color:#1f1f1f;">远大期货,远大期货开户,远大期货招商,香港远大外盘期货,香港远大国际期货官网,远大国际期货有限公司</p>
  </div>
</footer>
<!-- WPA start -->
<div style="position:fixed;top:30%;right:5px;z-index: 100">
  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
  <img border="0" src="/static/images/qqworker.jpg" alt="点击这里给我发消息" title="点击这里给我发消息"/>
</div>
<!-- //中间客服窗口 -->
<div class="wpa-invite theme-2">
  <a href="javascript:void(0);" id="invite_close" data-event="close" class="icon-close">
    <img src="https://bqq.gtimg.com/qidian/src/wpa/dist/4.1.0/images/invite/close_black.png">
  </a>
  <img src="https://p.qpic.cn/qidian_pic/2852199000/201611113d2b411028d4194b97d37ac1349faad3/0" class="avatar" onerror="javascript:parent.__WPA.replaceErrAvatar(this);">
  <div class="main">
    <div class="title">欢迎您来到本网站</div>
    <div class="content">您好，客服在线，点击即可咨询</div>
  </div>
  <div class="btns ">
    <div class="btn" id="qqbtn" data-event="qq" data-corpuin="0">
    <a target="_blank" style="text-decoration:none" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
      <span class="btn-icon icon-qq"></span>
      <span class="btn-text">QQ交谈</span>
    </a>
    
  </div>
</div>
</div><!-- WPA end -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

</body>
</html>
