<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>欧盟将增加对我国禽肉进口配额-中一期货_中一国际期货有限公司</title>
<meta name="keywords" content="欧盟,将,增加,对,我国,禽肉,进口,配额,中一," />
<meta name="description" content="中一期货 官网消息，我国是世界上第二大禽肉生产国，但欧盟在全球配额中却一直没有给中国市场相应的地位，经过商务部多年的谈判，终于在11月底与欧盟达成协议，争取到了新的禽" />
<meta name="applicable-device"content="pc,mobile">
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bxslider.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bxslider.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/bootstrap.js"></script>
<!--[if lt IE 9]>
	  <script src="/static/js/html5shiv.min.js"></script>
	  <script src="/static/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<header> <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9"> <a href="/"><img src="/static/images/zd-logo.jpg" class="logo" alt="中一期货" title="中一期货"/></a> </div>
    <div class="col-xs-12 col-sm-3 col-md-3 tel_box">
      <!-- <div class="top_tel"><img src="/static/images/tel.jpg" alt="中一期货_中一国际期货有限公司"></div>
      <div class="top_number"> <span>全国客服热线：</span>
        <p>176-2101-1966</p>
      </div> -->
    </div>
  </div>
</div>

<!-- Fixed navbar -->
<nav id="top_nav" class="navbar navbar-default navbar-static-top">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">导航菜单</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/zhongyi/index.html">导航菜单</a> </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li  class='active' ><a href="/zhongyi/index.html">网站首页</a> </li>
        <li class='dropdown '> <a href="/zhongyi/a/gongsijianjie/index.html">关于中一</a> <a href="/zhongyi/a/gongsijianjie/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/zhongyi/about/index.html">公司简介</a></li>
            
            
            
            <li><a href="/zhongyi/a/gongsijianjie/contact/index.html">联系中一</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/zhongyi/a/chanpinzhongxin/index.html">产品中心</a> <a href="/zhongyi/a/chanpinzhongxin/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li><li class='dropdown '> <a href="/zhongyi/a/xingyexinwen/index.html">资讯中心</a> <a href="/zhongyi/a/xingyexinwen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/zhongyi/a/xingyexinwen/index.html">行业新闻</a></li>
            
            <li><a href="/zhongyi/a/kejichuangxin/index.html">财经新闻</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/zhongyi/a/kehuanli/">招商加盟</a> <a href="/zhongyi/a/kehuanli/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/zhongyi/a/zuixinanli/index.html">加盟政策</a></li>
            
            <li><a href="/zhongyi/a/jingdiananli/">加盟优势</a></li>
            
            <li><a href="/zhongyi/a/kehuanli/qiyejiameng/">公司加盟</a></li>
            
            <li><a href="/zhongyi/a/kehuanli/geren_touzizhejiameng/">个人/投资者加盟</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/zhongyi/disclaimer/index.html">免责声明</a> <a href="/zhongyi/disclaimer/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li><li class='dropdown '> <a href="/zhongyi/a/lianxiwomen/index.html">联系我们</a> <a href="/zhongyi/a/lianxiwomen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li>
      </ul>
      
      <!--/.nav-collapse --> 
    </div>
  </nav>
 </header>
<div class="page_bg" style="background: url(/static/images/5780c309432c5.jpg) center top no-repeat;"></div>

<!-- main -->
<div class="container">
  <div class="row"> 
    
    <!-- left -->
    <div class="col-xs-12 col-sm-8 col-md-9" style="float:left">
      <div class="list_box">
        <h2 class="left_h2">行业新闻</h2>
        <div class="contents" style="font-size:14px;">
          <h1 class="contents_title">欧盟将增加对我国禽肉进口配额</h1>
          <p style="line-height:200%;text-align:center;">来源：中一国际期货有限公司 作者：中一期货</p>
          <div>
	　　<strong>中一期货</strong>官网消息，我国是世界上第二大禽肉生产国，但欧盟在全球配额中却一直没有给中国市场相应的地位，经过商务部多年的谈判，终于在11月底与欧盟达成协议，争取到了新的禽肉配额，预计欧盟将在2019年第一季度开放配额。业内人士纷纷表示，相关行业将迎来出口利好。</div>
<div>
	&nbsp;</div>
<div>
	　　商务部发言人高峰在昨天的新闻发布会上表示，中欧双方就欧盟对中国开放新的禽肉配额进行了多轮磋商，并于11月30日达成协议，欧盟同意对中国禽肉产品开放新的关税配额，包括6600吨鸭肉国别配额和5000吨鸡肉全球配额。</div>
<div>
	&nbsp;</div>
<div>
	　　以出口鸭肉为核心业务之一的河南华英农业发展股份有限公司相关负责人在接受上证报记者采访时表示：&ldquo;国际市场是鸭肉消费的主销市场，配额的获得有利于提升公司欧盟业务的运营能力，改善公司产品结构，带动产品产业链的调整，形成出口与内销的优势互补。&rdquo;</div>
<div>
	&nbsp;</div>
<div>
	　　&ldquo;我国对欧盟的禽肉出口一直受到关税配额的限制，既面临与巴西、泰国以外的国家竞争有限的配额的局面，而且为了保持市场和客户，企业要在加高税率的前提下出口。&rdquo;中国食品土畜进出口商会副会长于露表示。</div>
<div>
	&nbsp;</div>
<div>
	　　2018年1月至10月我国禽肉出口42.8万吨，其中对欧盟出口2.8万吨，占我国禽肉出口的6.5%，出口金额1亿美元，占我国禽肉出口总额的6.7%。</div>
<div>
	&nbsp;</div>
<div>
	　　华英农业的负责人表示：&ldquo;之前鸭肉出口控制量，配额之外关税高达每吨2765欧元，因此在国际市场无法与泰国竞争。而且企业2013年获得欧盟认证资格后建设相关基地，投入也很高，此次配额的获得有利于提高投资回报比，优化整个产业链。&rdquo;</div>
<div>
	&nbsp;</div>
<div>
	　　出口鸡肉的企业山东凤祥股份有限公司业务经理李成竹在接受记者采访时说：&ldquo;欧盟市场一直都是全世界最重要的鸡肉进口市场，而且欧盟跟中国有非常高的市场互补性，中国人不爱吃鸡胸肉，但是西方人却最爱吃鸡胸肉，甚至只吃鸡胸肉。所以，此次商务部的努力使得协议达成，不仅是为中国的鸡肉企业谋利益，同时也造福于欧洲的消费者，是一个双赢的事情。&rdquo;</div>
<div>
	&nbsp;</div>
<div>
	　　高峰说：&ldquo;此次中欧协议的签署是多边贸易体制下中欧双方的互利共赢。&rdquo;据悉，中欧就禽肉的磋商早在三年前就开始了，2015年4月我国就欧盟禽肉关税配额管理措施向欧方提出磋商请求，正式启动世贸组织争端解决机制，2017年4月世贸组织裁定欧盟实施的禽肉关税配额管理措施违反世贸规则，为执行上述裁决，中欧双方进行了多轮磋商并最终通过协议的方式妥善解决了裁决执行的问题。</div>

          <p style="text-align:right;"><br><br>————中一国际期货有限公司<br /><br></p>
        </div>
        <div class="point"> <span class="to_prev col-xs-12 col-sm-6 col-md-6">上一篇：<a href='/a/xingyexinwen/850.html'>11月份全球金融科技融资额创年内最低 保险领域仍最受资本青睐</a> </span> <span class="to_next col-xs-12 col-sm-6 col-md-6">下一篇：没有了 </span> </div>
      </div>
      <div class="list_related">
        <h2 class="left_h2">相关新闻</h2>
        <ul class="list_news related_news">
          <li><a href="/zhongyi/a/xingyexinwen/859.html" title="《科学》起底世界七大慈善基金会 仅盖茨">《科学》起底世界七大慈善基金会 仅盖茨</a><span class="news_time">2018-12-18</span></li>
          <li><a href="/zhongyi/a/xingyexinwen/858.html" title="美元一枝独秀，英镑危机四起">美元一枝独秀，英镑危机四起</a><span class="news_time">2018-12-18</span></li>
          <li><a href="/zhongyi/a/xingyexinwen/857.html" title="叱咤华尔街的军民融合公司是怎样炼成的">叱咤华尔街的军民融合公司是怎样炼成的</a><span class="news_time">2018-12-18</span></li>
          <li><a href="/zhongyi/a/xingyexinwen/856.html" title="意大利预算传佳音，但欧元可别忘了还有">意大利预算传佳音，但欧元可别忘了还有</a><span class="news_time">2018-12-18</span></li>
          <li><a href="/zhongyi/a/xingyexinwen/855.html" title="祖拉比什维利宣誓就任格鲁吉亚总统">祖拉比什维利宣誓就任格鲁吉亚总统</a><span class="news_time">2018-12-17</span></li>
          
        </ul>
      </div>
    </div>
    
    <!-- right -->
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="left_nav" id="categories">
        <h2 class="left_h2">资讯中心</h2>
        <ul class="left_nav_ul" id="firstpane">
          
          <li> <a class="biglink" href="/a/xingyexinwen/">行业新闻</a><span class="menu_head"></span> </li>
          
          <li> <a class="biglink" href="/a/kejichuangxin/">财经新闻</a><span class="menu_head"></span> </li>
          
        </ul>
      </div>
      <div class="index_contact"> <h2 class="left_h2">联系我们</h2>
        <!-- <p>电 话：176-2101-1966</p> -->
        <p>公 司：中一国际期货有限公司</p>
        <p>地 址：香港中一国际期货交易中心位于香港岛中环金融街8号国际金融中心（18楼1808室）心（18楼1808室）心（18楼1808室）</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">
    <p>Copyright &copy; 2002-2027  中一国际期货有限公司 版权所有</p>
    <p class="copyright_p">地址：香港中一国际期货交易中心位于香港岛中环金融街8号国际金融中心（18楼1808室）心（18楼1808室）心（18楼1808室）  </p>

    <!-- <p class="copyright_p">地址：香港中一国际期货交易中心位于香港岛中环金融街8号国际金融中心（18楼1808室）心（18楼1808室）心（18楼1808室）  电话：176-2101-1966 </p> -->
    <p style="color:#1f1f1f;">中一期货,中一期货开户,中一期货招商,香港中一外盘期货,香港中一国际期货官网,中一国际期货有限公司</p>
  </div>
</footer>
<!-- WPA start -->
<div style="position:fixed;top:30%;right:5px;z-index: 100">
  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
  <img border="0" src="/static/images/qqworker.jpg" alt="点击这里给我发消息" title="点击这里给我发消息"/>
</div>
<!-- //中间客服窗口 -->
<div class="wpa-invite theme-2">
  <a href="javascript:void(0);" id="invite_close" data-event="close" class="icon-close">
    <img src="https://bqq.gtimg.com/qidian/src/wpa/dist/4.1.0/images/invite/close_black.png">
  </a>
  <img src="https://p.qpic.cn/qidian_pic/2852199000/201611113d2b411028d4194b97d37ac1349faad3/0" class="avatar" onerror="javascript:parent.__WPA.replaceErrAvatar(this);">
  <div class="main">
    <div class="title">欢迎您来到本网站</div>
    <div class="content">您好，客服在线，点击即可咨询</div>
  </div>
  <div class="btns ">
    <div class="btn" id="qqbtn" data-event="qq" data-corpuin="0">
    <a target="_blank" style="text-decoration:none" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
      <span class="btn-icon icon-qq"></span>
      <span class="btn-text">QQ交谈</span>
    </a>
    
  </div>
</div>
</div><!-- WPA end -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script>(function(){
var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a":"https://jspassport.ssl.qhimg.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script> 
<!--客服面板-->
</body>
</html>