<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>欧盟将增加对我国禽肉进口配额-中一期货_中一国际期货有限公司</title>
<meta name="keywords" content="欧盟,将,增加,对,我国,禽肉,进口,配额,中一," />
<meta name="description" content="中一期货 官网消息，我国是世界上第二大禽肉生产国，但欧盟在全球配额中却一直没有给中国市场相应的地位，经过商务部多年的谈判，终于在11月底与欧盟达成协议，争取到了新的禽" />
<meta name="applicable-device"content="pc,mobile">
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bxslider.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bxslider.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/bootstrap.js"></script>
<!--[if lt IE 9]>
	  <script src="/static/js/html5shiv.min.js"></script>
	  <script src="/static/js/respond.min.js"></script>
	<![endif]-->
<body>
<header> <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9"> <a href="/"><img src="/static/images/zd-logo.jpg" class="logo" alt="中一期货" title="中一期货"/></a> </div>
    <div class="col-xs-12 col-sm-3 col-md-3 tel_box">
      <!-- <div class="top_tel"><img src="/static/images/tel.jpg" alt="中一期货_中一国际期货有限公司"></div>
      <div class="top_number"> <span>全国客服热线：</span>
        <p>176-2101-1966</p>
      </div> -->
    </div>
  </div>
</div>

<!-- Fixed navbar -->
<nav id="top_nav" class="navbar navbar-default navbar-static-top">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">导航菜单</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/zhongyi/index.html">导航菜单</a> </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li  class='active' ><a href="/zhongyi/index.html">网站首页</a> </li>
        <li class='dropdown '> <a href="/zhongyi/a/gongsijianjie/index.html">关于中一</a> <a href="/zhongyi/a/gongsijianjie/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/zhongyi/about/index.html">公司简介</a></li>
            
            
            
            <li><a href="/zhongyi/a/gongsijianjie/contact/index.html">联系中一</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/zhongyi/a/chanpinzhongxin/index.html">产品中心</a> <a href="/zhongyi/a/chanpinzhongxin/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li><li class='dropdown '> <a href="/zhongyi/a/xingyexinwen/index.html">资讯中心</a> <a href="/zhongyi/a/xingyexinwen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/zhongyi/a/xingyexinwen/index.html">行业新闻</a></li>
            
            <li><a href="/zhongyi/a/kejichuangxin/index.html">财经新闻</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/zhongyi/a/kehuanli/">招商加盟</a> <a href="/zhongyi/a/kehuanli/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/zhongyi/a/zuixinanli/index.html">加盟政策</a></li>
            
            <li><a href="/zhongyi/a/jingdiananli/">加盟优势</a></li>
            
            <li><a href="/zhongyi/a/kehuanli/qiyejiameng/">公司加盟</a></li>
            
            <li><a href="/zhongyi/a/kehuanli/geren_touzizhejiameng/">个人/投资者加盟</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/zhongyi/disclaimer/index.html">免责声明</a> <a href="/zhongyi/disclaimer/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li><li class='dropdown '> <a href="/zhongyi/a/lianxiwomen/index.html">联系我们</a> <a href="/zhongyi/a/lianxiwomen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li>
      </ul>
      
      <!--/.nav-collapse --> 
    </div>
  </nav>
 </header>
<div class="page_bg" style="background: url(/static/images/5780c309432c5.jpg) center top no-repeat;"></div>

<!-- main -->
<div class="container">
  <div class="row"> 
    
    <!-- left -->
    <div class="col-xs-12 col-sm-8 col-md-9" style="float:left">
      <div class="list_box">
        <h2 class="left_h2">行业新闻</h2>
        <div class="contents" style="font-size:14px;">
          <h1 class="contents_title">科学》起底世界七大慈善基金会 仅盖茨基金会无离岸投资</h1>
          <p style="line-height:200%;text-align:center;">来源：中一国际期货有限公司 作者：中一期货</p>
          <div>
            　　　<strong>中一期货</strong>官网消息，12月上旬，顶级学术期刊《科学》杂志刊登特写报道，起底了包括盖茨基金会、霍华德修斯医学研究所等世界上最大的七家私人持有的慈善基金会。通过&ldquo;天堂文件&rdquo;和公开财务报告的调查显示，这些基金会在包括开曼群岛、百慕大等&ldquo;避税天堂&rdquo;的离岸投资超过了50亿美元，其中一些投资有悖基金会设立的慈善目标。</div>
            <div>
                &nbsp;</div>
            <div>
                　　天堂文件(Paradise Papers)是指2017年11月被曝光的1340万份关于离岸投资的电子文件，其中一部分数据来自位于&ldquo;避税天堂&rdquo;百慕大的法务提供商。这些文件揭露了约12万知名公司和个人的离岸利益，包括苹果和耐克等大企业利用离岸投资进行避税的细节等等。</div>
            <div>
                &nbsp;</div>
            <div>
                　　严格来说，操作得当的离岸投资是合法的，但这一方式因其财务和投资上的不透明而存在很大的争议。这种矛盾在涉及到关乎公共利益的机构和活动时，显得尤为尖锐。</div>
            <div>
                &nbsp;</div>
            <div>
                　　慈善基金会是许多科学研究活动的主要资助者，被许多国家政府视为提供公共服务的机构。《科学》杂志整理了包括盖茨基金会、霍华德修斯医学研究所等七大私人慈善基金会在离岸投资和承诺上的情况，结果显示，根据保守估计，这七家基金会近年来已经向位于开曼群岛、百慕大等地的&ldquo;避税基金&rdquo;投入了超过50亿美元。</div>
            <div>
                &nbsp;</div>
            <div>
                　　根据调查，惠康信托基金会将超过9.26亿美元的资产投入到了至少57支避税基金中。在2007年，惠康信托的海外持股非常广泛，位于百慕大群岛的法务提供商将该基金会列为其第14大客户。在惠康信托给《科学》的声明中，相关人员对其资产在离岸账户中的规模等问题拒绝置评，称他们&ldquo;不收集或保留&rdquo;这方面数据。</div>
            <div>
                &nbsp;</div>
            <div>
                　　位于美国马里兰州的霍华德休斯医学研究所拥有204亿美元的资产，其中至少有8.91亿美元投在了离岸基金上。截至2017年8月31日的财年，该基金会年收入为1.23亿美元。该基金会拒绝谈论其相关投资活动。</div>
            <div>
                &nbsp;</div>
            <div>
                　　位于美国新泽西州的罗伯特伍德约翰逊基金会拥有108亿美元资产，其中有30亿美元&ldquo;安置&rdquo;在避税天堂的基金。</div>
            <div>
                &nbsp;</div>
            <div>
                　　另外三家私人基金会，戴维和露希尔帕卡德基金会、戈登和贝蒂摩尔基金会以及威廉和弗洛拉休利特基金会，都位于美国加州的硅谷，最高的海外投资额达1.68亿美元。这三家基金会在书面声明中表示，基金会会遵守税法，但拒绝就离岸投资问题发表评论。</div>
            <div>
                &nbsp;</div>
            <div>
                　　根据天堂文件和公开的报表显示，位于美国华盛顿州的比尔和梅林达盖茨基金会没有明显投入离岸基金的迹象。</div>
            <div>
                &nbsp;</div>
            <div>
                　　近几十年来，离岸投资越来越普及，进行离岸投资的方式也越来越复杂。由于可以向母国少纳税，离岸基金成为了大型投资者青睐的投资方式之一。包括开曼群岛、百慕大和马耳他在内的一些小国家和地区，因为其放松的监管制度、对利润征收低税或不征税，以及对投资活动保密等&ldquo;政策优势&rdquo;，成为了全球的离岸避税港湾。</div>
            
                      <p style="text-align:right;"><br><br>————中一国际期货有限公司<br /><br></p>
        </div>
        <div class="point"> <span class="to_prev col-xs-12 col-sm-6 col-md-6">上一篇：<a href='/zhongyi/a/xingyexinwen/858.html'>美元一枝独秀，英镑危机四起</a> </span> <span class="to_next col-xs-12 col-sm-6 col-md-6">下一篇：没有了 </span> </div>
      </div>
      <div class="list_related">
        <h2 class="left_h2">相关新闻</h2>
        <ul class="list_news related_news">
          <li><a href="/zhongyi/a/xingyexinwen/859.html" title="《科学》起底世界七大慈善基金会 仅盖茨">《科学》起底世界七大慈善基金会 仅盖茨</a><span class="news_time">2018-12-18</span></li>
<li><a href="/zhongyi/a/xingyexinwen/858.html" title="美元一枝独秀，英镑危机四起">美元一枝独秀，英镑危机四起</a><span class="news_time">2018-12-18</span></li>
<li><a href="/zhongyi/a/xingyexinwen/857.html" title="叱咤华尔街的军民融合公司是怎样炼成的">叱咤华尔街的军民融合公司是怎样炼成的</a><span class="news_time">2018-12-18</span></li>
<li><a href="/zhongyi/a/xingyexinwen/856.html" title="意大利预算传佳音，但欧元可别忘了还有">意大利预算传佳音，但欧元可别忘了还有</a><span class="news_time">2018-12-18</span></li>
<li><a href="/zhongyi/a/xingyexinwen/855.html" title="祖拉比什维利宣誓就任格鲁吉亚总统">祖拉比什维利宣誓就任格鲁吉亚总统</a><span class="news_time">2018-12-17</span></li>

        </ul>
      </div>
    </div>
    
    <!-- right -->
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="left_nav" id="categories">
        <h2 class="left_h2">资讯中心</h2>
        <ul class="left_nav_ul" id="firstpane">
          
          <li> <a class="biglink" href="/a/xingyexinwen/">行业新闻</a><span class="menu_head"></span> </li>
          
          <li> <a class="biglink" href="/a/kejichuangxin/">财经新闻</a><span class="menu_head"></span> </li>
          
        </ul>
      </div>
      <div class="index_contact"> <h2 class="left_h2">联系我们</h2>
        <!-- <p>电 话：176-2101-1966</p> -->
        <p>公 司：中一国际期货有限公司</p>
        <p>地 址：香港中一国际期货交易中心位于香港岛中环金融街8号国际金融中心（18楼1808室）心（18楼1808室）心（18楼1808室）</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">
    <p>Copyright &copy; 2002-2027  中一国际期货有限公司 版权所有</p>
    <p class="copyright_p">地址：香港中一国际期货交易中心位于香港岛中环金融街8号国际金融中心（18楼1808室）心（18楼1808室）心（18楼1808室）  </p>

    <!-- <p class="copyright_p">地址：香港中一国际期货交易中心位于香港岛中环金融街8号国际金融中心（18楼1808室）心（18楼1808室）心（18楼1808室）  电话：176-2101-1966 </p> -->
    <p style="color:#1f1f1f;">中一期货,中一期货开户,中一期货招商,香港中一外盘期货,香港中一国际期货官网,中一国际期货有限公司</p>
  </div>
</footer>
<!-- WPA start -->
<div style="position:fixed;top:30%;right:5px;z-index: 100">
  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
  <img src="/static/images/qqworker.jpg" alt="点击这里给我发消息" title="点击这里给我发消息"/>
</div>
<!-- //中间客服窗口 -->
<div class="wpa-invite theme-2">
  <a href="javascript:void(0);" id="invite_close" data-event="close" class="icon-close">
    <img src="https://bqq.gtimg.com/qidian/src/wpa/dist/4.1.0/images/invite/close_black.png">
  </a>
  <img src="https://p.qpic.cn/qidian_pic/2852199000/201611113d2b411028d4194b97d37ac1349faad3/0" class="avatar" onerror="javascript:parent.__WPA.replaceErrAvatar(this);">
  <div class="main">
    <div class="title">欢迎您来到本网站</div>
    <div class="content">您好，客服在线，点击即可咨询</div>
  </div>
  <div class="btns ">
    <div class="btn" id="qqbtn" data-event="qq" data-corpuin="0">
    <a target="_blank" style="text-decoration:none" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
      <span class="btn-icon icon-qq"></span>
      <span class="btn-text">QQ交谈</span>
    </a>
    
  </div>
</div>
</div><!-- WPA end -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script>(function(){
var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a":"https://jspassport.ssl.qhimg.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script> 
<!--客服面板-->
</body>
</html>