<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>美联储预期2019年加息2次 下调GDP增速预期-中一期货_中一国际期货有限公司</title>
<meta name="keywords" content="美联储,预期,2019年,加息,2次,下调,GDP,增速," />
<meta name="description" content="中一期货 官网消息，美东时间12月19日，美联储宣布加息25个基点，联邦基金利率的目标范围提高至2.25%至2.50%。在议息会议后公布的利率预期点阵图显示，2019年的加息次数预期为两次，" />
<meta name="applicable-device"content="pc,mobile">
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bxslider.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bxslider.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/bootstrap.js"></script>
<!--[if lt IE 9]>
	  <script src="/static/js/html5shiv.min.js"></script>
	  <script src="/static/js/respond.min.js"></script>
	<![endif]-->
<body>
<header> <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9"> <a href="/"><img src="/static/images/logo.png" class="logo" alt="中一期货" title="中一期货"/></a> </div>
    <div class="col-xs-12 col-sm-3 col-md-3 tel_box">
      <!-- <div class="top_tel"><img src="/static/images/tel.jpg" alt="中一期货_中一国际期货有限公司"></div>
      <div class="top_number"> <span>全国客服热线：</span>
        <p>176-2101-1966</p>
      </div> -->
    </div>
  </div>
</div>

<!-- Fixed navbar -->
<nav id="top_nav" class="navbar navbar-default navbar-static-top">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">导航菜单</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/views/index.html">导航菜单</a> </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li  class='active' ><a href="/views/index.html">网站首页</a> </li>
        <li class='dropdown '> <a href="/views/a/gongsijianjie/index.html">关于中一</a> <a href="/views/a/gongsijianjie/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/about/index.html">公司简介</a></li>
            
            <li><a href="/views/honor/index.html">中一牌照</a></li>
            
            <li><a href="/views/a/gongsijianjie/contact/index.html">联系中一</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/chanpinzhongxin/index.html">产品中心</a> <a href="/views/a/chanpinzhongxin/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/xingyexinwen/index.html">资讯中心</a> <a href="/views/a/xingyexinwen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/a/xingyexinwen/index.html">行业新闻</a></li>
            
            <li><a href="/views/a/kejichuangxin/index.html">财经新闻</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/kehuanli/">招商加盟</a> <a href="/views/a/kehuanli/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/a/zuixinanli/index.html">加盟政策</a></li>
            
            <li><a href="/views/a/jingdiananli/">加盟优势</a></li>
            
            <li><a href="/views/a/kehuanli/qiyejiameng/">公司加盟</a></li>
            
            <li><a href="/views/a/kehuanli/geren_touzizhejiameng/">个人/投资者加盟</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/views/disclaimer/index.html">免责声明</a> <a href="/views/disclaimer/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/lianxiwomen/index.html">联系我们</a> <a href="/views/a/lianxiwomen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li>
      </ul>
      
      <!--/.nav-collapse --> 
    </div>
  </nav>
 </header>
<div class="page_bg" style="background: url(/static/images/5780c309432c5.jpg) center top no-repeat;"></div>

<!-- main -->
<div class="container">
  <div class="row"> 
    
    <!-- left -->
    <div class="col-xs-12 col-sm-8 col-md-9" style="float:left">
      <div class="list_box">
        <h2 class="left_h2">行业新闻</h2>
        <div class="contents" style="font-size:14px;">
                <h1 class="contents_title">美联储预期2019年加息2次 下调GDP增速预期</h1>
                <p style="line-height:200%;text-align:center;">来源：中一国际期货有限公司 作者：中一期货</p>
                <div>
          　　<strong>中一期货</strong>官网消息，美东时间12月19日，美联储宣布加息25个基点，联邦基金利率的目标范围提高至2.25%至2.50%。在议息会议后公布的利率预期点阵图显示，2019年的加息次数预期为两次，与9月份的预测相比减少了一次。</div>
      <div>
          &nbsp;</div>
      <div>
          　　2019年加息预测从3次下调至2次</div>
      <div>
          &nbsp;</div>
      <div>
          　　根据美联储官网12月19日公布的利率预期点阵图，FOMC委员预测2019年底联邦基金利率的中位值为2.875%，约为2.9%，在目前利率基础上还将加息两次。9月份的议息会议后公布的利率预期点阵图显示，当时FOMC预测2019年联邦基金利率的中位值为3.125%，意味着2019年将加息三次。</div>
      <div>
          &nbsp;</div>
      <div>
          　　FOMC委员对长期中性利率的预计也有所降低，本此预计的长期中性利率中位值为2.75%，此前9月议息会议上的预期为3%。</div>
      <div>
          &nbsp;</div>
      <div>
          　　中金宏观研报认为，此次点阵图预测的加息路径分布显著下移。2019年加息次数下调，是偏鸽派姿态，也符合市场预期；长期中性利率的预测也下调。因而，美联储实际上还是继续认为需要加息至中性利率以上，但加息节奏将明显放缓。</div>
      <div>
          &nbsp;</div>
      <div>
          　　美联储下调今明两年GDP增长预期</div>
      <div>
          &nbsp;</div>
      <div>
          　　美联储会后同时公布了最新经济预期，与9月份公布的经济预期相比，今明两年的美国GDP增长预期有所下调。2018年实际GDP增速中位数预期为3.0%，2019年预期为2.3%；而9月份对2018年、2019年的预期分别为3.1%、2.5%。2020年实际GDP增速中位数预期为2%，2021年预期为1.8%，均与9月份的预期持平；更长期的经济增速预期为1.9%， 较9月份预期下调0.1个百分点。</div>
      <div>
          &nbsp;</div>
      <div>
          　　在通胀预期方面，本月的预期值与9月份的预期值相比也出现了下调。对于通胀率中位数与核心通胀率中位数，本月预计2018年为1.9%、1.9%，9月份的预期值分别为2.1%和2.0%，分别下调了0.2、0.1个百分点；本月预计2019年分别为1.9%和2.0%，9月预计分别为2.0%和2.1%，分别下调了0.1个百分点。</div>
      <div>
          &nbsp;</div>
      <div>
          　　预计2020年PCE通胀和核心PCE通胀分别为2.1%和2.0%，2021年为2.1%和2.0%，更长期的通胀率预计为2.0%。</div>
      <div>
          &nbsp;</div>
      <div>
          　　在失业率方面，美联储本次对今明两年的失业率预期则没有变化。2018年失业率中位数预期为3.7%，2019年预期为3.5%，均与9月份的预期值持平。2020年失业率中位数预期为3.6%，2021年为3.8%，更长期的预期为4.4%。</div>
      <div>
          &nbsp;</div>
      <div>
          　　中金宏观研报认为，在美联储快节奏加息、金融条件较快收紧背景下，美国经济动能正迅速放缓。此次美联储下调经济增速预期，表明美联储对此已有充分认识。</div>
      
                <p style="text-align:right;"><br><br>————中一国际期货有限公司<br /><br></p>
              </div>
              <div class="point"> <span class="to_prev col-xs-12 col-sm-6 col-md-6">上一篇：<a href='/views/a/xingyexinwen/865.html'>时隔十年！英国航空公司重启巴基斯坦航 </a> </span> <span class="to_next col-xs-12 col-sm-6 col-md-6">下一篇：<a href='/views/a/xingyexinwen/867.html'>美联储缩表“暗牌”需引起更多关注</a> </span> </div>
            </div>
      <div class="list_related">
        <h2 class="left_h2">相关新闻</h2>
        <ul class="list_news related_news">
                <li><a href="/views/a/xingyexinwen/871.html" title="FED任性加息下，油市恐雪上加霜，国际油">FED任性加息下，油市恐雪上加霜，国际油</a><span class="news_time">2018-12-21</span></li>
                <li><a href="/views/a/xingyexinwen/870.html" title="美联储声明是佯攻，这一数字下调使得黄">美联储声明是佯攻，这一数字下调使得黄</a><span class="news_time">2018-12-21</span></li>                
            <li><a href="/views/a/xingyexinwen/869.html" title="由于通货膨胀加剧 澳大利亚劳动力市场小">由于通货膨胀加剧 澳大利亚劳动力市场小</a><span class="news_time">2018-12-21</span></li>
            <li><a href="/views/a/xingyexinwen/868.html" title="美国对涉嫌“恶意”活动的俄罗斯实施更">美国对涉嫌“恶意”活动的俄罗斯实施更</a><span class="news_time">2018-12-21</span></li>
            <li><a href="/views/a/xingyexinwen/867.html" title="美联储缩表“暗牌”需引起更多关注">美联储缩表“暗牌”需引起更多关注</a><span class="news_time">2018-12-21</span></li>
            
        </ul>
      </div>
    </div>
    
    <!-- right -->
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="left_nav" id="categories">
        <h2 class="left_h2">资讯中心</h2>
        <ul class="left_nav_ul" id="firstpane">
          
          <li> <a class="biglink" href="/a/xingyexinwen/">行业新闻</a><span class="menu_head"></span> </li>
          
          <li> <a class="biglink" href="/a/kejichuangxin/">财经新闻</a><span class="menu_head"></span> </li>
          
        </ul>
      </div>
      <div class="index_contact"> <h2 class="left_h2">联系我们</h2>
        <!-- <p>电 话：176-2101-1966</p> -->
        <p>公 司：中一国际期货有限公司</p>
        <p>地 址：香港上环德辅道中244-248 号东协商业大厦5楼502室</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">
    <p>Copyright &copy; 2002-2027  中一国际期货有限公司 版权所有</p>
    <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  </p>

    <!-- <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  电话：176-2101-1966 </p> -->
    <p style="color:#1f1f1f;">中一期货,中一期货开户,中一期货招商,香港中一外盘期货,香港中一国际期货官网,中一国际期货有限公司</p>
  </div>
</footer>
<!-- WPA start -->
<div style="position:fixed;top:30%;right:5px;z-index: 100">
  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
  <img src="/static/images/qqworker.jpg" alt="点击这里给我发消息" title="点击这里给我发消息"/>
</div>
<!-- //中间客服窗口 -->
<div class="wpa-invite theme-2">
  <a href="javascript:void(0);" id="invite_close" data-event="close" class="icon-close">
    <img src="https://bqq.gtimg.com/qidian/src/wpa/dist/4.1.0/images/invite/close_black.png">
  </a>
  <img src="https://p.qpic.cn/qidian_pic/2852199000/201611113d2b411028d4194b97d37ac1349faad3/0" class="avatar" onerror="javascript:parent.__WPA.replaceErrAvatar(this);">
  <div class="main">
    <div class="title">欢迎您来到本网站</div>
    <div class="content">您好，客服在线，点击即可咨询</div>
  </div>
  <div class="btns ">
    <div class="btn" id="qqbtn" data-event="qq" data-corpuin="0">
    <a target="_blank" style="text-decoration:none" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
      <span class="btn-icon icon-qq"></span>
      <span class="btn-text">QQ交谈</span>
    </a>
    
  </div>
</div>
</div><!-- WPA end -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script>(function(){
var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a":"https://jspassport.ssl.qhimg.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script> 
<!--客服面板-->
</body>
</html>