<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>美联储缩表“暗牌”需引起更多关注-中一期货_中一国际期货有限公司</title>
<meta name="keywords" content="美联储,缩表,“,暗牌,”,需,引起,更多,关注," />
<meta name="description" content="中一期货 官网消息，美联储12月货币政策会议加息25个基点，将基准利率上调至2.25%-2.5%区间。美联储渐进加息政策未来是否持续，已成为近期金融市场关注的焦点所在。在渐进加息明牌" />
<meta name="applicable-device"content="pc,mobile">
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bxslider.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bxslider.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/bootstrap.js"></script>
<!--[if lt IE 9]>
	  <script src="/static/js/html5shiv.min.js"></script>
	  <script src="/static/js/respond.min.js"></script>
	<![endif]-->
<body>
<header> <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9"> <a href="/"><img src="/static/images/logo.png" class="logo" alt="中一期货" title="中一期货"/></a> </div>
    <div class="col-xs-12 col-sm-3 col-md-3 tel_box">
      <!-- <div class="top_tel"><img src="/static/images/tel.jpg" alt="中一期货_中一国际期货有限公司"></div>
      <div class="top_number"> <span>全国客服热线：</span>
        <p>176-2101-1966</p>
      </div> -->
    </div>
  </div>
</div>

<!-- Fixed navbar -->
<nav id="top_nav" class="navbar navbar-default navbar-static-top">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">导航菜单</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/views/index.html">导航菜单</a> </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li  class='active' ><a href="/views/index.html">网站首页</a> </li>
        <li class='dropdown '> <a href="/views/a/gongsijianjie/index.html">关于中一</a> <a href="/views/a/gongsijianjie/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/about/index.html">公司简介</a></li>
            
            <li><a href="/views/honor/index.html">中一牌照</a></li>
            
            <li><a href="/views/a/gongsijianjie/contact/index.html">联系中一</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/chanpinzhongxin/index.html">产品中心</a> <a href="/views/a/chanpinzhongxin/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/xingyexinwen/index.html">资讯中心</a> <a href="/views/a/xingyexinwen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/a/xingyexinwen/index.html">行业新闻</a></li>
            
            <li><a href="/views/a/kejichuangxin/index.html">财经新闻</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/kehuanli/">招商加盟</a> <a href="/views/a/kehuanli/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/a/zuixinanli/index.html">加盟政策</a></li>
            
            <li><a href="/views/a/jingdiananli/">加盟优势</a></li>
            
            <li><a href="/views/a/kehuanli/qiyejiameng/">公司加盟</a></li>
            
            <li><a href="/views/a/kehuanli/geren_touzizhejiameng/">个人/投资者加盟</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/views/disclaimer/index.html">免责声明</a> <a href="/views/disclaimer/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/lianxiwomen/index.html">联系我们</a> <a href="/views/a/lianxiwomen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li>
      </ul>
      
      <!--/.nav-collapse --> 
    </div>
  </nav>
 </header>
<div class="page_bg" style="background: url(/static/images/5780c309432c5.jpg) center top no-repeat;"></div>

<!-- main -->
<div class="container">
  <div class="row"> 
    
    <!-- left -->
    <div class="col-xs-12 col-sm-8 col-md-9" style="float:left">
      <div class="list_box">
        <h2 class="left_h2">行业新闻</h2>
        <div class="contents" style="font-size:14px;">
            <h1 class="contents_title">美联储缩表“暗牌”需引起更多关注</h1>
            <p style="line-height:200%;text-align:center;">来源：中一国际期货有限公司 作者：中一期货</p>
            <div>
    　　<strong>中一期货</strong>官网消息，美联储12月货币政策会议加息25个基点，将基准利率上调至2.25%-2.5%区间。美联储渐进加息政策未来是否持续，已成为近期金融市场关注的焦点所在。在渐进加息&ldquo;明牌&rdquo;备受关注的同时，美联储从2017年10月开启的缩减负债表计划，这张&ldquo;暗牌&rdquo;需要引起外界更多的关注度。</div>
  <div>
    &nbsp;</div>
  <div>
    　　事实上，美股市场议息当日大幅下挫的具体时间点，恰恰就发生在美联储主席鲍威尔新闻发布会上强调缩表节奏不变的那一刻。关于缩表，鲍威尔还认为，这是干扰市场的一大因素，&ldquo;资产负债表缩减的幅度一直都是平稳的，没有看到缩表已经造成严重问题&rdquo;。他的表态意味着缩表的进度还在预设路径之中，调整缩表力度也不是美联储近期考虑的选项。</div>
  <div>
    &nbsp;</div>
  <div>
    　　与加息将提高资金成本、抑制贷款活动相比，缩表等同于直接从市场抽离基础货币，对流动性的影响更大。数据显示，美联储一年多前开始缩表时，其规模为4.47万亿美元，目前已下降至4.088万亿美元，缩掉近4000亿美元。按照美联储未来每月500亿美元的缩表规划，未来两年还将缩掉1万亿美元左右。而截至11月底，美国的基础货币规模为3.444万亿美元，同比下降了11.9%。</div>
  <div>
    &nbsp;</div>
  <div>
    　　美联储缩表措施导致市场流动性不断收紧，反映美元供需情况的伦敦同业银行间拆借利率近期持续走高，银行间拆借的意愿不断下滑，&ldquo;美元荒&rdquo;也愈演愈烈。美元堪称全球流动性&ldquo;总闸门&rdquo;，从历史上看，&ldquo;美元荒&rdquo;和全球流动性变化往往成为金融市场动荡的直接诱因。目前，美联储给出了加息节奏可能放慢的预期，同时缩表却在一直&ldquo;静悄悄&rdquo;地继续，市场各方需要对&ldquo;美元流动性紧缺&rdquo;以及可能产生的负面影响做好更充分的准备。</div>
  
            <p style="text-align:right;"><br><br>————中一国际期货有限公司<br /><br></p>
          </div>
              <div class="point"> <span class="to_prev col-xs-12 col-sm-6 col-md-6">上一篇：<a href='/views/a/xingyexinwen/866.html'>美联储预期2019年加息2次 下调GDP增速预期</a> </span> <span class="to_next col-xs-12 col-sm-6 col-md-6">下一篇：<a href='/views/a/xingyexinwen/868.html'>美国对涉嫌“恶意”活动的俄罗斯实施更</a> </span> </div>
            </div>
      <div class="list_related">
        <h2 class="left_h2">相关新闻</h2>
        <ul class="list_news related_news">
                <li><a href="/views/a/xingyexinwen/871.html" title="FED任性加息下，油市恐雪上加霜，国际油">FED任性加息下，油市恐雪上加霜，国际油</a><span class="news_time">2018-12-21</span></li>
                <li><a href="/views/a/xingyexinwen/870.html" title="美联储声明是佯攻，这一数字下调使得黄">美联储声明是佯攻，这一数字下调使得黄</a><span class="news_time">2018-12-21</span></li>                
            <li><a href="/views/a/xingyexinwen/869.html" title="由于通货膨胀加剧 澳大利亚劳动力市场小">由于通货膨胀加剧 澳大利亚劳动力市场小</a><span class="news_time">2018-12-21</span></li>
            <li><a href="/views/a/xingyexinwen/868.html" title="美国对涉嫌“恶意”活动的俄罗斯实施更">美国对涉嫌“恶意”活动的俄罗斯实施更</a><span class="news_time">2018-12-21</span></li>
            <li><a href="/views/a/xingyexinwen/867.html" title="美联储缩表“暗牌”需引起更多关注">美联储缩表“暗牌”需引起更多关注</a><span class="news_time">2018-12-21</span></li>
            
        </ul>
      </div>
    </div>
    
    <!-- right -->
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="left_nav" id="categories">
        <h2 class="left_h2">资讯中心</h2>
        <ul class="left_nav_ul" id="firstpane">
          
          <li> <a class="biglink" href="/a/xingyexinwen/">行业新闻</a><span class="menu_head"></span> </li>
          
          <li> <a class="biglink" href="/a/kejichuangxin/">财经新闻</a><span class="menu_head"></span> </li>
          
        </ul>
      </div>
      <div class="index_contact"> <h2 class="left_h2">联系我们</h2>
        <!-- <p>电 话：176-2101-1966</p> -->
        <p>公 司：中一国际期货有限公司</p>
        <p>地 址：香港上环德辅道中244-248 号东协商业大厦5楼502室</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">
    <p>Copyright &copy; 2002-2027  中一国际期货有限公司 版权所有</p>
    <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  </p>

    <!-- <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  电话：176-2101-1966 </p> -->
    <p style="color:#1f1f1f;">中一期货,中一期货开户,中一期货招商,香港中一外盘期货,香港中一国际期货官网,中一国际期货有限公司</p>
  </div>
</footer>
<!-- WPA start -->
<div style="position:fixed;top:30%;right:5px;z-index: 100">
  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
  <img src="/static/images/qqworker.jpg" alt="点击这里给我发消息" title="点击这里给我发消息"/>
</div>
<!-- //中间客服窗口 -->
<div class="wpa-invite theme-2">
  <a href="javascript:void(0);" id="invite_close" data-event="close" class="icon-close">
    <img src="https://bqq.gtimg.com/qidian/src/wpa/dist/4.1.0/images/invite/close_black.png">
  </a>
  <img src="https://p.qpic.cn/qidian_pic/2852199000/201611113d2b411028d4194b97d37ac1349faad3/0" class="avatar" onerror="javascript:parent.__WPA.replaceErrAvatar(this);">
  <div class="main">
    <div class="title">欢迎您来到本网站</div>
    <div class="content">您好，客服在线，点击即可咨询</div>
  </div>
  <div class="btns ">
    <div class="btn" id="qqbtn" data-event="qq" data-corpuin="0">
    <a target="_blank" style="text-decoration:none" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
      <span class="btn-icon icon-qq"></span>
      <span class="btn-text">QQ交谈</span>
    </a>
    
  </div>
</div>
</div><!-- WPA end -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script>(function(){
var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a":"https://jspassport.ssl.qhimg.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script> 
<!--客服面板-->
</body>
</html>