<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>美联储声明是佯攻，这一数字下调使得黄金从假摔中迅速调整-远大期货_远大国际期货有限公司</title>
<meta name="keywords" content="美联储,声明,是,佯攻,这一,数字,下调,使得," />
<meta name="description" content="远大期货 官网消息12月20日，现货黄金价格反弹，回补上日前部跌幅。之前美联储发表的政策声明不如一些投资者预期的那么鸽派，发表政策声明称，将维持收紧货币政策计划的核心不" />
<meta name="applicable-device"content="pc,mobile">
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bxslider.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bxslider.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/bootstrap.js"></script>
<!--[if lt IE 9]>
	  <script src="/static/js/html5shiv.min.js"></script>
	  <script src="/static/js/respond.min.js"></script>
	<![endif]-->
<body>
<header> <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9"> <a href="/"><img src="/static/images/logo.png" class="logo" alt="远大期货" title="远大期货"/></a> </div>
    <div class="col-xs-12 col-sm-3 col-md-3 tel_box">
      <!-- <div class="top_tel"><img src="/static/images/tel.jpg" alt="远大期货_远大国际期货有限公司"></div>
      <div class="top_number"> <span>全国客服热线：</span>
        <p>176-2101-1966</p>
      </div> -->
    </div>
  </div>
</div>

<!-- Fixed navbar -->
<nav id="top_nav" class="navbar navbar-default navbar-static-top">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">导航菜单</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/views/index.html">导航菜单</a> </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li  class='active' ><a href="/views/index.html">网站首页</a> </li>
        <li class='dropdown '> <a href="/views/a/gongsijianjie/index.html">关于远大</a> <a href="/views/a/gongsijianjie/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/about/index.html">公司简介</a></li>
            
            <li><a href="/views/honor/index.html">远大牌照</a></li>
            
            <li><a href="/views/a/gongsijianjie/contact/index.html">联系远大</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/chanpinzhongxin/index.html">产品中心</a> <a href="/views/a/chanpinzhongxin/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/xingyexinwen/index.html">资讯中心</a> <a href="/views/a/xingyexinwen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/a/xingyexinwen/index.html">行业新闻</a></li>
            
            <li><a href="/views/a/kejichuangxin/index.html">财经新闻</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/kehuanli/">招商加盟</a> <a href="/views/a/kehuanli/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/a/zuixinanli/index.html">加盟政策</a></li>
            
            <li><a href="/views/a/jingdiananli/">加盟优势</a></li>
            
            <li><a href="/views/a/kehuanli/qiyejiameng/">公司加盟</a></li>
            
            <li><a href="/views/a/kehuanli/geren_touzizhejiameng/">个人/投资者加盟</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/views/disclaimer/index.html">免责声明</a> <a href="/views/disclaimer/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/lianxiwomen/index.html">联系我们</a> <a href="/views/a/lianxiwomen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li>
      </ul>
      
      <!--/.nav-collapse --> 
    </div>
  </nav>
 </header>
<div class="page_bg" style="background: url(/static/images/5780c309432c5.jpg) center top no-repeat;"></div>

<!-- main -->
<div class="container">
  <div class="row"> 
    
    <!-- left -->
    <div class="col-xs-12 col-sm-8 col-md-9" style="float:left">
      <div class="list_box">
        <h2 class="left_h2">行业新闻</h2>
        <div class="contents" style="font-size:14px;">
          <h1 class="contents_title">美联储声明是佯攻，这一数字下调使得黄金从假摔中迅速调整</h1>
          <p style="line-height:200%;text-align:center;">来源：远大国际期货有限公司 作者：远大期货</p>
          <div>
            　　<strong>远大期货</strong>官网消息&mdash;&mdash;12月20日，现货黄金价格反弹，回补上日前部跌幅。之前美联储发表的政策声明不如一些投资者预期的那么鸽派，发表政策声明称，将维持收紧货币政策计划的核心不变，金价终盘收低逾0.5%，创11月27日以来最大单日跌幅。但&ldquo;点阵图&rdquo;暗示2019年将加息两次，低于9月预期的三次。金价遂重拾涨势。</div>
<div>
	&nbsp;</div>
<div>
	周四(12月20日)，现货黄金价格反弹，回补上日前部跌幅。尽管之前美联储发表的政策声明不如一些投资者预期的那么鸽派，但&ldquo;点阵图&rdquo;暗示2019年将加息两次，低于9月预期的三次。</div>
<div>
	&nbsp;</div>
<div>
	新加坡交易商GoldSilver Central的董事总经理Brian Lan说：&ldquo;美联储不是很清楚他们将做什么。他们的确说了会升息，但并不着急升息，普遍的共识是，他们可能放慢升息脚步。这就是金价站得如此坚挺的原因。&rdquo;</div>
<div>
	&nbsp;</div>
<div>
	美联储周三(12月19日)加息25个基点，符合广泛预期，金市利空出尽，盘中一度大涨近10美元，创下7月10日以来新高的1258.09美元，越过1252美元附近的200日移动均线。</div>
<div>
	&nbsp;</div>
<div>
	虽然美联储随后发表政策声明称，将维持收紧货币政策计划的核心不变，尽管全球经济增长的不确定性升高，这令市场感到意外，金价终盘收低逾0.5%；但&ldquo;点阵图&rdquo;暗示2019年将加息两次，低于9月预期的三次，金价得以在周四重新上涨。</div>
<div>
	&nbsp;</div>
<div>
	DailyFX的外汇策略师Ilya Spivak说：&ldquo;金价在今年余下时间看来挺脆弱，不过在缺乏新因素推动美联储前景题材的情况下，可能会令趋势进展温和。&rdquo;</div>
<div>
	&nbsp;</div>
<div>
	丹麦丹斯克银行修正对美联储2019年加息次数的预期，由此前的3次调降至2次，2019年加息时间节点变得更难预测，因每次利率决议都伴随着新闻发布会，均存在加息可能。</div>
<div>
	&nbsp;</div>
<div>
	对于略显谨慎的美联储而言，2019年3月加息可能显得为时过早，可能于5月甚至6月进行，第二次加息或于9月或10月进行。</div>
<div>
	&nbsp;</div>
<div>
	该机构坚持认为美联储将于2019年结束加息周期，相比市场计价而言，该行对美联储的预期仍显得鹰派，有关美联储何时缩减资产负债表方面，该行并未获得任何信息，不过2019年下半年前不大可能，除非出现特殊情况。</div>

          <p style="text-align:right;"><br><br>————远大国际期货有限公司<br /><br></p>
        </div>
        <div class="point"> <span class="to_prev col-xs-12 col-sm-6 col-md-6">上一篇：<a href='/views/a/xingyexinwen/869.html'>由于通货膨胀加剧 澳大利亚劳动力市场小</a> </span> <span class="to_next col-xs-12 col-sm-6 col-md-6">下一篇：<a href='/views/a/xingyexinwen/871.html'>FED任性加息下，油市恐雪上加霜，国际油</a> </span> </div>
      </div>
      <div class="list_related">
        <h2 class="left_h2">相关新闻</h2>
        <ul class="list_news related_news">
                <li><a href="/views/a/xingyexinwen/871.html" title="FED任性加息下，油市恐雪上加霜，国际油">FED任性加息下，油市恐雪上加霜，国际油</a><span class="news_time">2018-12-21</span></li>
                <li><a href="/views/a/xingyexinwen/870.html" title="美联储声明是佯攻，这一数字下调使得黄">美联储声明是佯攻，这一数字下调使得黄</a><span class="news_time">2018-12-21</span></li>                
            <li><a href="/views/a/xingyexinwen/869.html" title="由于通货膨胀加剧 澳大利亚劳动力市场小">由于通货膨胀加剧 澳大利亚劳动力市场小</a><span class="news_time">2018-12-21</span></li>
            <li><a href="/views/a/xingyexinwen/868.html" title="美国对涉嫌“恶意”活动的俄罗斯实施更">美国对涉嫌“恶意”活动的俄罗斯实施更</a><span class="news_time">2018-12-21</span></li>
            <li><a href="/views/a/xingyexinwen/867.html" title="美联储缩表“暗牌”需引起更多关注">美联储缩表“暗牌”需引起更多关注</a><span class="news_time">2018-12-21</span></li>
            
        </ul>
      </div>
    </div>
    
    <!-- right -->
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="left_nav" id="categories">
        <h2 class="left_h2">资讯中心</h2>
        <ul class="left_nav_ul" id="firstpane">
          
          <li> <a class="biglink" href="/a/xingyexinwen/">行业新闻</a><span class="menu_head"></span> </li>
          
          <li> <a class="biglink" href="/a/kejichuangxin/">财经新闻</a><span class="menu_head"></span> </li>
          
        </ul>
      </div>
      <div class="index_contact"> <h2 class="left_h2">联系我们</h2>
        <!-- <p>电 话：176-2101-1966</p> -->
        <p>公 司：远大国际期货有限公司</p>
        <p>地 址：香港上环德辅道中244-248 号东协商业大厦5楼502室</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">
    <p>Copyright &copy; 2002-2027  远大国际期货有限公司 版权所有</p>
    <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  </p>

    <!-- <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  电话：176-2101-1966 </p> -->
    <p style="color:#1f1f1f;">远大期货,远大期货开户,远大期货招商,香港远大外盘期货,香港远大国际期货官网,远大国际期货有限公司</p>
  </div>
</footer>
<!-- WPA start -->
<div style="position:fixed;top:30%;right:5px;z-index: 100">
  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
  <img src="/static/images/qqworker.jpg" alt="点击这里给我发消息" title="点击这里给我发消息"/>
</div>
<!-- //中间客服窗口 -->
<div class="wpa-invite theme-2">
  <a href="javascript:void(0);" id="invite_close" data-event="close" class="icon-close">
    <img src="https://bqq.gtimg.com/qidian/src/wpa/dist/4.1.0/images/invite/close_black.png">
  </a>
  <img src="https://p.qpic.cn/qidian_pic/2852199000/201611113d2b411028d4194b97d37ac1349faad3/0" class="avatar" onerror="javascript:parent.__WPA.replaceErrAvatar(this);">
  <div class="main">
    <div class="title">欢迎您来到本网站</div>
    <div class="content">您好，客服在线，点击即可咨询</div>
  </div>
  <div class="btns ">
    <div class="btn" id="qqbtn" data-event="qq" data-corpuin="0">
    <a target="_blank" style="text-decoration:none" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
      <span class="btn-icon icon-qq"></span>
      <span class="btn-text">QQ交谈</span>
    </a>
    
  </div>
</div>
</div><!-- WPA end -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script>(function(){
var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a":"https://jspassport.ssl.qhimg.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script> 
<!--客服面板-->
</body>
</html>