<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FED任性加息下，油市恐雪上加霜，国际油价再度跌近4%-中一期货_中一国际期货有限公司</title>
<meta name="keywords" content="FED,任性,加息,下,油市,恐,雪上加霜,国际,油价," />
<meta name="description" content="中一期货 官网消息周四欧市盘中，美布两油延续了近来疲软走势，一度双双跳水近4%。据分析，有关美联储过度加息拖累全球经济的预期正波及油市，市场有关需求不振的预期正在发酵" />
<meta name="applicable-device"content="pc,mobile">
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bxslider.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bxslider.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/bootstrap.js"></script>
<!--[if lt IE 9]>
	  <script src="/static/js/html5shiv.min.js"></script>
	  <script src="/static/js/respond.min.js"></script>
	<![endif]-->
<body>
<header> <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9"> <a href="/"><img src="/static/images/zd-logo.jpg" class="logo" alt="中一期货" title="中一期货"/></a> </div>
    <div class="col-xs-12 col-sm-3 col-md-3 tel_box">
      <!-- <div class="top_tel"><img src="/static/images/tel.jpg" alt="中一期货_中一国际期货有限公司"></div>
      <div class="top_number"> <span>全国客服热线：</span>
        <p>176-2101-1966</p>
      </div> -->
    </div>
  </div>
</div>

<!-- Fixed navbar -->
<nav id="top_nav" class="navbar navbar-default navbar-static-top">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">导航菜单</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/zhongyi/index.html">导航菜单</a> </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li  class='active' ><a href="/zhongyi/index.html">网站首页</a> </li>
        <li class='dropdown '> <a href="/zhongyi/a/gongsijianjie/index.html">关于中一</a> <a href="/zhongyi/a/gongsijianjie/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/zhongyi/about/index.html">公司简介</a></li>
            
            
            
            <li><a href="/zhongyi/a/gongsijianjie/contact/index.html">联系中一</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/zhongyi/a/chanpinzhongxin/index.html">产品中心</a> <a href="/zhongyi/a/chanpinzhongxin/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li><li class='dropdown '> <a href="/zhongyi/a/xingyexinwen/index.html">资讯中心</a> <a href="/zhongyi/a/xingyexinwen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/zhongyi/a/xingyexinwen/index.html">行业新闻</a></li>
            
            <li><a href="/zhongyi/a/kejichuangxin/index.html">财经新闻</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/zhongyi/a/kehuanli/">招商加盟</a> <a href="/zhongyi/a/kehuanli/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/zhongyi/a/zuixinanli/index.html">加盟政策</a></li>
            
            <li><a href="/zhongyi/a/jingdiananli/">加盟优势</a></li>
            
            <li><a href="/zhongyi/a/kehuanli/qiyejiameng/">公司加盟</a></li>
            
            <li><a href="/zhongyi/a/kehuanli/geren_touzizhejiameng/">个人/投资者加盟</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/zhongyi/disclaimer/index.html">免责声明</a> <a href="/zhongyi/disclaimer/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li><li class='dropdown '> <a href="/zhongyi/a/lianxiwomen/index.html">联系我们</a> <a href="/zhongyi/a/lianxiwomen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li>
      </ul>
      
      <!--/.nav-collapse --> 
    </div>
  </nav>
 </header>
<div class="page_bg" style="background: url(/static/images/5780c309432c5.jpg) center top no-repeat;"></div>

<!-- main -->
<div class="container">
  <div class="row"> 
    
    <!-- left -->
    <div class="col-xs-12 col-sm-8 col-md-9" style="float:left">
      <div class="list_box">
        <h2 class="left_h2">行业新闻</h2>
        <div class="contents" style="font-size:14px;">
          <h1 class="contents_title">FED任性加息下，油市恐雪上加霜，国际油价再度跌近4%</h1>
          <p style="line-height:200%;text-align:center;">来源：中一国际期货有限公司 作者：中一期货</p>
          <div>
            　　　<strong>中一期货</strong>官网消息&mdash;&mdash;周四欧市盘中，美布两油延续了近来疲软走势，一度双双跳水近4%。据分析，有关美联储过度加息拖累全球经济的预期正波及油市，市场有关需求不振的预期正在发酵，令油价走势难见曙光。</div>
<div>
	&nbsp;</div>
<div>
	周四(12月20日)欧市盘中，美布两油延续了近来疲软走势，一度双双跳水近4%。据分析，有关美联储过度加息拖累全球经济的预期正波及油市，市场有关需求不振的预期正在发酵，令油价走势难见曙光。目前，美布两油自日内低点有所反弹，美油报46.61美元/桶，跌3.25%。布油报55.59美元/桶，跌2.87%。</div>
<div>
	&nbsp;</div>
<div>
	由于前日美联储主席鲍威尔未能平息市场对美联储政策将遏制全球经济增长的担忧，交易员正在回避风险资产。与此同时，美国上周原油库存降幅不及预期，也令市场担心欧佩克减产将被美国页岩油供应增加所抵消。</div>
<div>
	&nbsp;</div>
<div>
	据韩国三星期货公司大宗商品分析师Kim Kwangrae认为，市场曾希望得到一个更明确的信号，表明美联储已经结束加息，但未能让投资者满意。市场仍在与供应过剩和增长放缓带来的不确定性作斗争。</div>
<div>
	&nbsp;</div>
<div>
	此前，欧佩克及其盟友达成减产协议，从2019年1月起减产120万桶/日，但仍难阻拦油价将录得4年来最严重的季度跌幅。</div>
<div>
	&nbsp;</div>
<div>
	虽然，沙特能源大臣法利赫于周三(12月19日)安抚市场称，他确信减产协议将在2019年4月份得到延长。</div>
<div>
	&nbsp;</div>
<div>
	但从另一个角度来看，法利赫在减产协议生效之前就做出保证，只能突显是为了安抚出市场普遍存在的焦虑情绪。</div>
<div>
	&nbsp;</div>
<div>
	法利赫还表示，油价目前的下跌并非基于石油的供求关系，而是在一定程度上受到地缘政治、美国利率、美元走强和投资者投机等因素的影响。不过，他补充称，欧佩克将&ldquo;需要更多时间&rdquo;限制产量，以平衡市场。</div>
<div>
	&nbsp;</div>
<div>
	美国能源情报署(EIA)周三公布的数据显示，库欣原油库存上周连续第四周增加，尽管上周美国原油库存减少49.7万桶，但降幅小于市场预计的250万桶降幅。</div>
<div>
	&nbsp;</div>
<div>
	其他石油市场方面， 据两位不愿透露姓名的知情人士透露，俄罗斯副总理科扎克和能源部长诺瓦克在莫斯科的一次会议上，与石油行业高管讨论了俄罗斯国内的燃料市场和原油产量。</div>

          <p style="text-align:right;"><br><br>————中一国际期货有限公司<br /><br></p>
        </div>
        <div class="point"> <span class="to_prev col-xs-12 col-sm-6 col-md-6">上一篇：<a href='/zhongyi/a/xingyexinwen/870.html'>美联储声明是佯攻，这一数字下调使得黄</a> </span> <span class="to_next col-xs-12 col-sm-6 col-md-6">下一篇：没有了 </span> </div>
      </div>
      <div class="list_related">
        <h2 class="left_h2">相关新闻</h2>
        <ul class="list_news related_news">
                <li><a href="/zhongyi/a/xingyexinwen/871.html" title="FED任性加息下，油市恐雪上加霜，国际油">FED任性加息下，油市恐雪上加霜，国际油</a><span class="news_time">2018-12-21</span></li>
                <li><a href="/zhongyi/a/xingyexinwen/870.html" title="美联储声明是佯攻，这一数字下调使得黄">美联储声明是佯攻，这一数字下调使得黄</a><span class="news_time">2018-12-21</span></li>                
            <li><a href="/zhongyi/a/xingyexinwen/869.html" title="由于通货膨胀加剧 澳大利亚劳动力市场小">由于通货膨胀加剧 澳大利亚劳动力市场小</a><span class="news_time">2018-12-21</span></li>
            <li><a href="/zhongyi/a/xingyexinwen/868.html" title="美国对涉嫌“恶意”活动的俄罗斯实施更">美国对涉嫌“恶意”活动的俄罗斯实施更</a><span class="news_time">2018-12-21</span></li>
            <li><a href="/zhongyi/a/xingyexinwen/867.html" title="美联储缩表“暗牌”需引起更多关注">美联储缩表“暗牌”需引起更多关注</a><span class="news_time">2018-12-21</span></li>
            
        </ul>
      </div>
    </div>
    
    <!-- right -->
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="left_nav" id="categories">
        <h2 class="left_h2">资讯中心</h2>
        <ul class="left_nav_ul" id="firstpane">
          
          <li> <a class="biglink" href="/a/xingyexinwen/">行业新闻</a><span class="menu_head"></span> </li>
          
          <li> <a class="biglink" href="/a/kejichuangxin/">财经新闻</a><span class="menu_head"></span> </li>
          
        </ul>
      </div>
      <div class="index_contact"> <h2 class="left_h2">联系我们</h2>
        <!-- <p>电 话：176-2101-1966</p> -->
        <p>公 司：中一国际期货有限公司</p>
        <p>地 址：香港上环德辅道中244-248 号东协商业大厦5楼502室</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">
    <p>Copyright &copy; 2002-2027  中一国际期货有限公司 版权所有</p>
    <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  </p>

    <!-- <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  电话：176-2101-1966 </p> -->
    <p style="color:#1f1f1f;">中一期货,中一期货开户,中一期货招商,香港中一外盘期货,香港中一国际期货官网,中一国际期货有限公司</p>
  </div>
</footer>
<!-- WPA start -->
<div style="position:fixed;top:30%;right:5px;z-index: 100">
  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
  <img src="/static/images/qqworker.jpg" alt="点击这里给我发消息" title="点击这里给我发消息"/>
</div>
<!-- //中间客服窗口 -->
<div class="wpa-invite theme-2">
  <a href="javascript:void(0);" id="invite_close" data-event="close" class="icon-close">
    <img src="https://bqq.gtimg.com/qidian/src/wpa/dist/4.1.0/images/invite/close_black.png">
  </a>
  <img src="https://p.qpic.cn/qidian_pic/2852199000/201611113d2b411028d4194b97d37ac1349faad3/0" class="avatar" onerror="javascript:parent.__WPA.replaceErrAvatar(this);">
  <div class="main">
    <div class="title">欢迎您来到本网站</div>
    <div class="content">您好，客服在线，点击即可咨询</div>
  </div>
  <div class="btns ">
    <div class="btn" id="qqbtn" data-event="qq" data-corpuin="0">
    <a target="_blank" style="text-decoration:none" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
      <span class="btn-icon icon-qq"></span>
      <span class="btn-text">QQ交谈</span>
    </a>
    
  </div>
</div>
</div><!-- WPA end -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script>(function(){
var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a":"https://jspassport.ssl.qhimg.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script> 
<!--客服面板-->
</body>
</html>