<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>中一期货_中一国际期货有限公司【官网】</title>
    <meta
      name="keywords"
      content="中一期货,国际期货,中一期货招商,中一期货开户,香港中一期货,中一国际期货,中一国际期货官网,中一国际期货有限公司"
    />
    <meta
      name="description"
      content="中一国际期货获香港证监会批准注册为持牌法团(证监会中央编号: BJQ086),从事第2类及第5类受规管活动,即期货合约交易及就期货合约提供意见，提供国际期货交易平台，主要从事商品期货经纪、金融期货经纪业务"
    />
    <meta name="author" content="laomo" />
    <meta name="applicable-device" content="pc,mobile" />

    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.min.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div>JJJK</div>
  </body>
</html>
