<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>中一期货_中一国际期货有限公司</title>
<meta name="keywords" content="中一期货,中一期货招商,香港中一期货,中一国际期货,中一国际期货官网,中一国际期货有限公司" />
<meta name="description" content="中一国际期货获香港证监会批准注册为持牌法团(证监会中央编号: BJQ086),从事第2类及第5类受规管活动,即期货合约交易及就期货合约提供意见，提供国际期货交易平台，主要从事商品期货经纪、金融期货经纪业务。" />
<meta name="author" content="laomo" />
<meta name="applicable-device"content="pc,mobile">
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bxslider.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bxslider.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/bootstrap.js"></script>
<!--[if lt IE 9]>
	  <script src="/static/js/html5shiv.min.js"></script>
	  <script src="/static/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<header> <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9"> <a href="/views/index.html"><img src="/static/images/logo.png" class="logo" alt="中一期货" title="中一期货"/></a> </div>
    <div class="col-xs-12 col-sm-3 col-md-3 tel_box">
      <!-- <div class="top_tel"><img src="/static/images/tel.jpg" alt="中一期货_中一国际期货有限公司"></div>
      <div class="top_number"> <span>全国客服热线：</span>
        <p>176-2101-1966</p>
      </div> -->
    </div>
  </div>
</div>

<!-- Fixed navbar -->
<nav id="top_nav" class="navbar navbar-default navbar-static-top">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">导航菜单</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    <a class="navbar-brand" href="#">导航菜单</a> </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li  class='active' ><a href="/">网站首页</a> </li>
      <li class='dropdown '> <a href="/view/a/gongsijianjie/">关于中一</a> <a href="/view/a/gongsijianjie/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
        <ul role="menu" class="dropdown-menu nav_small">
          
          
          <li><a href="/view/about/index.html">公司简介</a></li>
          
          <li><a href="/views/honor/index.html">中一牌照</a></li>
          
          <li><a href="/view/a/gongsijianjie/contact/index.html">联系中一</a></li>
          
        </ul>
      </li><li class='dropdown '> <a href="/view/a/chanpinzhongxin/index.html">产品中心</a> <a href="/view/a/chanpinzhongxin/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
        <ul role="menu" style="display:none">
          
          
        </ul>
      </li><li class='dropdown '> <a href="/view/a/xingyexinwen/">资讯中心</a> <a href="/view/a/xingyexinwen/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
        <ul role="menu" class="dropdown-menu nav_small">
          
          
          <li><a href="/view/view/a/xingyexinwen/index.html">行业新闻</a></li>
          
          <li><a href="/view/a/kejichuangxin/index.html">财经新闻</a></li>
          
        </ul>
      </li><li class='dropdown '> <a href="/view/a/kehuanli/">招商加盟</a> <a href="/view/a/kehuanli/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
        <ul role="menu" class="dropdown-menu nav_small">
          
          
          <li><a href="/view/a/zuixinanli/index.html">加盟政策</a></li>
          
          <li><a href="/view/a/jingdiananli/index.html">加盟优势</a></li>
          
          <li><a href="/view/a/kehuanli/qiyejiameng/index.html">公司加盟</a></li>
          
          <li><a href="/view/a/kehuanli/geren_touzizhejiameng/index.html">个人/投资者加盟</a></li>
          
        </ul>
      </li><li class='dropdown '> <a href="/view/disclaimer/index.html">免责声明</a> <a href="/view/disclaimer/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
        <ul role="menu" style="display:none">
          
          
        </ul>
      </li><li class='dropdown '> <a href="/view/a/lianxiwomen/index.html">联系我们</a> <a href="/view/a/lianxiwomen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
        <ul role="menu" style="display:none">
          
          
        </ul>
      </li>
    </ul>
    
    <!--/.nav-collapse --> 
  </div>
</nav>
 </header>

<!-- bxslider -->
<div class="flash">
  <ul class="bxslider">
    <li><img src="/static/images/1-1G030151AQ11.png" alt="幻灯3" /></a></li>
<li><img src="/static/images/1-1G03015162bP.png" alt="幻灯2" /></a></li>
<li><img src="/static/images/1-1G0301516043Z.png" alt="幻灯1" /></a></li>

  </ul>
</div>
<script type="text/javascript">
        $('.bxslider').bxSlider({
          adaptiveHeight: true,
          infiniteLoop: false,
          hideControlOnEnd: true,
          auto:true
        });
    </script>
  <div class="container" >
          <div class="user_form_header">
              <h2 style="text-align: center">模拟开户</h2>
              <div class="user_form_header_line"></div>
          </div>
          <div class="user_form_content" style="text-align:center">
              <div class="user-info-img col-md-5" style="padding-top:100px">
                  <img  src="/static/images/userinfo.jpg"/>
              </div>
              <form class="form-horizontal col-md-7 usr-form" role="form" method="POST">
                  <div class="form-group">
                      <label for="userName" class="col-sm-2 control-label">您的姓名:</label>
                      <div class="col-sm-6">
                          <input id="userName" name="userName" type="text" class="form-control col-sm-8" style="width:88%" required  placeholder="请输入名字">
                          <span class="col-sm-1" style="color:red">*</span>
                      </div>
                  </div>

                  <div class="form-group">
                  <label for="userName" class="col-sm-2 control-label">性别:</label>
                  <div class="col-sm-6" style="text-align:left">
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadiosinline" id="sex-man" value="man" checked> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadiosinline" id="sex-woman"  value="woman"> 女
                    </label>
                  </div>
                </div>

              <div class="form-group">
                <label for="userPhone" class="col-sm-2 control-label">身份证号:</label>
                <div class="col-sm-6">
                    <input id="userPhone"  name="userPhone" type="text" class="form-control col-sm-8" style="width:88%" required  placeholder="请输入手机号">
                    <span class="col-sm-1" style="color:red">*</span>
                </div>
            </div>
                
                  <div class="form-group">
                          <label for="userPhone" class="col-sm-2 control-label">手机号码:</label>
                          <div class="col-sm-6">
                              <input id="userPhone"  name="userPhone" type="text" class="form-control col-sm-8" style="width:88%" required  placeholder="请输入手机号">
                              <span class="col-sm-1" style="color:red">*</span>
                      </div>
                  </div>
 
                  <div class="form-group">
                    <label for="userPhone" class="col-sm-2 control-label">常住地址:</label>
                    <div class="col-sm-6">
                        <input id="userPhone"  name="userPhone" type="text" class="form-control col-sm-8" style="width:88%" required  placeholder="请输入手机号">
                        <span class="col-sm-1" style="color:red">*</span>
                </div>
            </div>

            <div class="form-group">
                <label for="userPhone" class="col-sm-2 control-label">常用邮箱:</label>
                <div class="col-sm-6">
                    <input id="userPhone"  name="userPhone" type="text" class="form-control col-sm-8" style="width:88%"  placeholder="请输入手机号">
                    <span class="col-sm-1" style="color:red">*</span>
            </div>
        </div>

                  <div class="form-group">
                          <label for="userQQ" class="col-sm-2 control-label">QQ号:</label>
                          <div class="col-sm-6">
                          <input id="userQQ"  name="userQQ" type="text" class="form-control col-sm-8" style="width:88%"  placeholder="请输入QQ号">
                      </div>
                  </div>
                  <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-5">
                              <button type="submit" class="btn btn-default">提交</button>
                          </div>
                  </div>
                  
              </form>

          </div>
  </div>
<div class="link_box">
  <div class="container"> <span class="link_title">友情链接</span>
    <button id="link_btn" class="glyphicon glyphicon-plus" aria-hidden="true"></button>
    <span class="link_list">  </span> </div>
</div>
<footer>
  <div class="copyright">
    <p>Copyright &copy; 2002-2027  中一国际期货有限公司 版权所有</p>
    <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  </p>
    <!-- <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  电话：176-2101-1966 </p> -->
    <p style="color:#1f1f1f;">中一期货,中一期货开户,中一期货招商,香港中一外盘期货,香港中一国际期货官网,中一国际期货有限公司</p>
  </div>
</footer>
<!-- WPA start -->
<script id="qd285215368155648fd2d6abc35519c2b5f0bdd8367e" src="https://wp.qiye.qq.com/qidian/2852153681/55648fd2d6abc35519c2b5f0bdd8367e" charset="utf-8" async defer></script>
<!-- WPA end -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();




    /*这里是提交表单前的非空校验*/
    $("form").submit(function () {
        var name = $("input[name='userName']").val();
        var phone = $("input[name='userPhone']").val();
        var qq = $("input[name='userQQ']").val();

        if (name == "" || name == null || name == undefined) {
            alert("请填写您的姓名");
            return false;/*阻止表单提交*/
        } else if (phone == "" || phone == null || phone == undefined) {
            alert("请填写您的手机号");
            return false;/*阻止表单提交*/
        } else {
          alert("提交成功");
            return true;
        }
    })

</script>
 
<!--客服面板-->
</body>
</html>